openapi: 3.0.1
info:
  title: Haven Money API
  version: '1.0'
servers:
  - url: https://haven.dev/api
paths:
  /v1/accounts:
    put:
      operationId: upsertAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequestWrapper'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/accounts/user/{EndUserId}:
    get:
      operationId: getAccountsForUser
      parameters:
      - name: EndUserId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountsResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/accounts/{AccountId}:
    delete:
      operationId: deleteAccount
      parameters:
      - name: AccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/annotations/{TransactionId}:
    post:
      operationId: upsertUserAnnotation
      parameters:
      - name: TransactionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAnnotationRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAnnotationResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/merchants/{MerchantId}:
    get:
      operationId: getMerchant
      parameters:
      - name: MerchantId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/tokens:
    post:
      operationId: createAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantServiceAccountAgentLoginRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantServiceAccountAgentLoginResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/transactions/batch:
    post:
      operationId: upsertBatchTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadBatchTransactionsRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/transactions/online:
    post:
      operationId: upsertOneTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CleanSingleTransactionRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanSingleTransactionResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/transactions/{EndUserId}:
    get:
      operationId: getTransactions
      parameters:
      - name: EndUserId
        in: path
        required: true
        schema:
          type: string
      - name: highWaterMark
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/transactions/{TransactionId}:
    delete:
      operationId: deleteTransaction
      parameters:
      - name: TransactionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/users/{EndUserId}:
    delete:
      operationId: deleteForUser
      parameters:
      - name: EndUserId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/webhooks:
    get:
      operationId: getWebhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhooksResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    post:
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWebhookResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /v1/webhooks/{WebhookId}:
    delete:
      operationId: deleteWebhook
      parameters:
      - name: WebhookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AccountRequestWrapper:
      required:
      - account
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountUpdate'
    AccountSubType:
      type: string
      enum:
      - AUTO
      - BROKERAGE
      - CASH_ISA
      - CASH_MANAGEMENT
      - CD
      - CHECKING
      - COMMERCIAL
      - CONSTRUCTION
      - CONSUMER
      - CREDIT
      - CREDIT_CARD
      - DEPOSITORY
      - EDUCATION_SAVINGS_ACCOUNT
      - GIC
      - HEALTH_REIMBURSEMENT_ARRANGEMENT
      - HOME
      - HOME_EQUITY
      - HSA
      - IRA
      - ISA
      - KEOGH
      - LIF
      - LINE_OF_CREDIT
      - LIRA
      - LOAN
      - LRIF
      - LRSP
      - MONEY_MARKET
      - MORTGAGE
      - MUTUAL_FUND
      - NON_TAXABLE_BROKERAGE_ACCOUNT
      - OTHER
      - OVERDRAFT
      - PAYPAL
      - PENSION
      - PREPAID
      - PRIF
      - PROFIT_SHARING_PLAN
      - RDSP
      - RECURRING
      - RESP
      - RETIREMENT
      - REWARDS
      - RLIF
      - ROTH
      - ROTH_401K
      - RRIF
      - RRSP
      - SAFE_DEPOSIT
      - SARSEP
      - SAVINGS
      - SEP_IRA
      - SIMPLE_IRA
      - SIPP
      - STOCK_PLAN
      - STUDENT
      - TFSA
      - THRIFT_SAVINGS_PLAN
      - T_401A
      - T_401K
      - T_403B
      - T_457B
      - T_529
      - UGMA
      - UTMA
      - VARIABLE_ANNUITY
    AccountType:
      type: string
      enum:
      - BROKERAGE
      - CREDIT
      - DEPOSITORY
      - LOAN
      - OTHER
    AccountUpdate:
      required:
      - id
      - user
      - displayName
      - displayNameDetailed
      - institution
      - institutionName
      - accountType
      - accountSubType
      - balance
      - createdAt
      - updatedAt
      type: object
      properties:
        id:
          type: string
        user:
          type: string
        displayName:
          type: string
        displayNameDetailed:
          type: string
        institution:
          type: string
        institutionName:
          type: string
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountSubType:
          $ref: '#/components/schemas/AccountSubType'
        balance:
          $ref: '#/components/schemas/Balance'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AddAnnotationRequest:
      required:
      - bootstrap
      type: object
      properties:
        category:
          $ref: '#/components/schemas/CleanCategory'
        memo:
          type: string
        excludeFromBreakdowns:
          type: boolean
        bootstrap:
          $ref: '#/components/schemas/BootstrapStrategy'
    AddAnnotationResponse:
      required:
      - transactions
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CleanTransaction'
    Address:
      required:
      - line1
      - city
      - state
      - zip
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        coordinates:
          $ref: '#/components/schemas/LatLong'
    ApiAccount:
      required:
      - id
      - user
      - displayName
      - displayNameDetailed
      - institution
      - institutionName
      - accountType
      - accountSubType
      - balance
      - createdAt
      - updatedAt
      type: object
      properties:
        id:
          type: string
        user:
          type: string
        displayName:
          type: string
        displayNameDetailed:
          type: string
        institution:
          type: string
        institutionName:
          type: string
        logo:
          type: string
        colors:
          $ref: '#/components/schemas/InstitutionColors'
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountSubType:
          $ref: '#/components/schemas/AccountSubType'
        balance:
          $ref: '#/components/schemas/Balance'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    BROKERAGE1:
      type: object
    BadRequestServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    Balance:
      required:
      - current
      type: object
      properties:
        current:
          type: string
        available:
          type: string
        limit:
          type: string
    BootstrapStrategy:
      type: string
      enum:
      - user-exact
      - user-fuzzy
      - account-exact
      - account-fuzzy
      - none
    CREDIT1:
      type: object
    CleanCategory:
      type: string
      enum:
      - Arts
      - Music
      - Movies & Television
      - Newspaper & Magazines
      - Other Entertainment
      - Theater
      - Gambling
      - Deposit
      - Withdrawal
      - Dividends
      - Buy
      - Sell
      - Other Investments
      - Gas & Fuel
      - Car Parts
      - Toll Fee
      - Parking
      - Traffic Tickets
      - Maintenance & Repairs
      - Auto Payment
      - Auto Insurance
      - Public Transportation
      - Other Car
      - Taxi
      - Boat
      - Air Travel
      - Lodging
      - Ride Share & Rental
      - Other Travel
      - Account Maintenance
      - Overdraft Fee
      - Insufficient Funds Fee
      - ATM Fee
      - Check Order Fee
      - Interest Charged Fee
      - Foreign Transaction Fee
      - Wire Fee
      - Excessive Transactions Fee
      - Late Fee
      - Card Membership Fee
      - Other Fee
      - Rent
      - Mortgage
      - Other Housing
      - Rent Reimbursement
      - Yard & Garden
      - Credit card payment
      - ATM Withdrawals
      - Prepaid Card Load
      - Internal Transfer
      - External Transfer
      - Other Transfer
      - Loan Payment
      - Services
      - Legal Services
      - Accounting Services
      - Real Estate Services
      - Business Services
      - Computer Services
      - Online Subscriptions
      - Financial Services
      - Cleaning Services
      - Internet
      - Home Insurance
      - Renter's Insurance
      - Life Insurance
      - Other Insurance
      - Phone Bill
      - Utilities
      - TV
      - Other Bills
      - Paycheck
      - Interest
      - Refund
      - Rewards
      - Reimbursement
      - Other Income
      - Tuition
      - Student Loan
      - Other Education
      - Health Insurance
      - Gym
      - Dentist
      - Doctor
      - Pharmacy
      - Medical Labs
      - Barber and Salon
      - Spa
      - Nail and Skin
      - Other Health & Fitness
      - Groceries
      - Coffee
      - Restaurants
      - Alcohol
      - Bars & Clubs
      - Other Food & Dining
      - Clothes & Apparel
      - Sporting Goods
      - Electronics
      - Games
      - Tobacco & Vaping
      - Cannabis
      - Beauty
      - Books
      - Business Equipment
      - Home Hardware
      - Shipping
      - Software
      - Guns & Weapons
      - Taxes
      - Government Services
      - Fines
      - Gifts & Donations
      - Shopping
      - Other
      - Pets
      - Child Care
    CleanSingleTransactionRequest:
      required:
      - transaction
      type: object
      properties:
        transaction:
          $ref: '#/components/schemas/RawTransaction'
    CleanSingleTransactionResponse:
      required:
      - transaction
      type: object
      properties:
        transaction:
          $ref: '#/components/schemas/CleanTransaction'
    CleanTransaction:
      required:
      - id
      - account
      - user
      - memo
      - rawMemo
      - amount
      - categories
      - cleanCategory
      - excludeFromBreakdowns
      - historical
      - tags
      type: object
      properties:
        id:
          type: string
        account:
          type: string
        user:
          type: string
        memo:
          type: string
        rawMemo:
          type: string
        network:
          type: string
        userTransactedAt:
          type: string
          format: date-time
        amount:
          type: string
        categories:
          type: array
          items:
            type: string
        cleanCategory:
          $ref: '#/components/schemas/CleanCategory'
        url:
          type: string
        image:
          type: string
        backgroundImage:
          type: string
        excludeFromBreakdowns:
          type: boolean
        merchant:
          type: string
        merchantData:
          $ref: '#/components/schemas/Merchant'
        merchantAddress:
          $ref: '#/components/schemas/Address'
        historical:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
    ConflictServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    CreateWebhookRequest:
      required:
      - callback
      - subscriptions
      type: object
      properties:
        callback:
          type: string
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/WebhookSubscription'
    CreateWebhookResponse:
      required:
      - webhook
      type: object
      properties:
        webhook:
          $ref: '#/components/schemas/Webhook'
    DEPOSITORY1:
      type: object
    EmptyResponse:
      type: object
      properties:
        a:
          type: integer
    GLOBAL_EXACT:
      type: object
    GLOBAL_FUZZY:
      type: object
    GetAccountsResponse:
      required:
      - accounts
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/ApiAccount'
    GetMerchantResponse:
      type: object
      properties:
        merchant:
          $ref: '#/components/schemas/Merchant'
    GetTransactionsResponse:
      required:
      - transactions
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CleanTransaction'
        highWaterMark:
          type: string
    GetWebhooksResponse:
      required:
      - webhooks
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
    InstitutionColors:
      required:
      - dark
      - darker
      - light
      - primary
      type: object
      properties:
        dark:
          type: string
        darker:
          type: string
        light:
          type: string
        primary:
          type: string
    LOAN1:
      type: object
    LatLong:
      required:
      - latitude
      - longitude
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    MORTGAGE1:
      type: object
    Merchant:
      required:
      - name
      - category
      type: object
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        hours:
          $ref: '#/components/schemas/OpenHours'
        image:
          type: string
        backgroundImage:
          type: string
        category:
          $ref: '#/components/schemas/CleanCategory'
        phone:
          type: string
        url:
          type: string
        facebook:
          type: string
        twitter:
          type: string
        instagram:
          type: string
        yelp:
          type: string
    NotFoundServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    OTHER1:
      type: object
    OTHER2:
      type: object
    OpenHours:
      required:
      - description
      type: object
      properties:
        description:
          type: string
    REWARDS1:
      type: object
    RawMerchant:
      type: object
      properties:
        mid:
          type: string
        mcc:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    RawMerchantStore:
      type: object
      properties:
        mid:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    RawTransaction:
      required:
      - id
      - account
      - user
      - rawMemo
      - amount
      - categories
      - kind
      - state
      - tags
      type: object
      properties:
        id:
          type: string
        account:
          type: string
        user:
          type: string
        rawMemo:
          type: string
        merchant:
          $ref: '#/components/schemas/RawMerchant'
        store:
          $ref: '#/components/schemas/RawMerchantStore'
        network:
          type: string
        userTransactedAt:
          type: string
          format: date-time
        amount:
          type: string
        categories:
          type: array
          items:
            type: string
        kind:
          type: string
        state:
          $ref: '#/components/schemas/TransactionState'
        tags:
          type: array
          items:
            type: string
    ServiceError:
      oneOf:
      - $ref: '#/components/schemas/UnauthorizedServiceError'
      - $ref: '#/components/schemas/TooManyRequestsServiceError'
      - $ref: '#/components/schemas/NotFoundServiceError'
      - $ref: '#/components/schemas/ConflictServiceError'
      - $ref: '#/components/schemas/UncaughtExceptionServiceError'
      - $ref: '#/components/schemas/BadRequestServiceError'
    TenantServiceAccountAgentLoginRequest:
      required:
      - id
      - secret
      type: object
      properties:
        id:
          type: string
        secret:
          type: string
    TenantServiceAccountAgentLoginResponse:
      required:
      - token
      - expiry
      type: object
      properties:
        token:
          type: string
        expiry:
          type: string
          format: date-time
    TooManyRequestsServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    TransactionState:
      type: string
      enum:
      - PENDING
      - COMPLETED
      - REVERSED
      - ERROR
    UnauthorizedServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    UncaughtExceptionServiceError:
      required:
      - message
      type: object
      properties:
        message:
          type: string
    UploadBatchTransactionsRequest:
      required:
      - transactions
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/RawTransaction'
    Webhook:
      required:
      - id
      - callback
      - secret
      type: object
      properties:
        id:
          type: string
        callback:
          type: string
        secret:
          type: string
    WebhookSubscription:
      type: string
      enum:
      - TRANSACTIONS
      - INSTITUTIONS

security:
  - bearerAuth: []
